html,body{
	margin: 0;
	font-family: courier;
	font-size: 1rem;
}
*{
	box-sizing: border-box;
}
.contenedor{
	display: grid;
	grid-template-columns: 12 auto; 
	grid-template-rows: 300px 300px 150px 300px 300px 100px 300px 250px 270px;
	grid-template-areas: "header header header header header header header header header header header header"
						"slider slider slider slider slider slider slider slider slider slider slider slider"
						"main1 main1 main1 main1 main1 main1 main1 main1 main1 main1 main1 main1"
						"main2 main2 main2 main2 main2 main2 main2 main2 main2 main2 main2 main2"
						"main2 main2 main2 main2 main2 main2 main2 main2 main2 main2 main2 main2"
						"main3 main3 main3 main3 main3 main3 main3 main3 main3 main3 main3 main3"		
						"info1 info1 info1 info1 info1 info1 info2 info2 info2 info2 info2 info2"
						"form form form form form form form form form form form form"
						"footer footer footer footer footer footer footer footer footer footer footer footer"
}
.item1{
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.item1 div{
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: 2rem;
}
.fab{
	font-size: 2rem;
	color: black;
}
.logoheader{
	height: 200px;
	align-self: center;
	margin-left: 3rem; 
}
.item2{
	grid-area: slider;
	background: #FFF;
}
.item3{
	grid-area: main1;
	font-size: 2.5rem;
	padding-top: 50px;
	padding-left: 80px;
	background: #FADD97; 
}
.item4{
	grid-area: main2;
	padding-left: 150px;
	padding-right: 150px; 
	background: #FADD97;
}
.item4 div{
	display: flex;
	justify-content: space-between;
}
.item4 img{
	height: 230px;
}
.item4 img:hover{
	cursor: pointer;
}
.item4 p{
	font-size: 2rem;
	height: 70px;
	width: 200px;
	text-align: center;
	margin: 0 20px 0 20px; 
}
.item5{
	grid-area: main3;
	font-size: 2.5rem;
	padding-top: 30px;
	background: linear-gradient(0deg, #FFF, #FADD97);
	display: flex;
	justify-content: center;
}
.item5 div{
	height: 50px;
	width: 400px;
	background: #F3545B; 
	text-align:center;
}
.item5 div:hover{
	cursor: pointer;
}
.item6{
	grid-area: info1;
	font-size: 2rem;
	text-align: center;
	padding: 1.5em;
	background: #FFF;
}
.item7{
	grid-area: info2;
	font-size: 2rem;
	text-align: center;
	padding: 1.5em;
	background: #FFF;
}
.info{
	height: 200px;
	width: 80%;
	margin: 0 10% 0 10%;
	padding: 5%;
	border: solid black 1px;
}
.item8{
	grid-area: form;
	font-size: 1rem;
	padding: 2em 0 2em 0;
	text-align: center;
}
.cont{
	display: flex;
	justify-content: center;
}
.cont img{
	height: 60px;
	margin: 2px;
}
.cont img:hover{
	cursor: pointer;
}
legend{
	font-size: 2.5rem;
}
input{
	font-size: 1.2rem;
	font-family: courier;
}
.email{
	width: 150px;
}
.email:focus{
	width: 300px;
}
.boton:hover{
	cursor: pointer;
}
.item9{
	grid-area: footer;
	background: linear-gradient(0deg, #FADD97, #FFF);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.logofooter{
	height: 250px;
}
